.admin-nav {
  border-bottom: 1px solid var(--colour-grey-light);
  padding-left: 6.5rem;
}

/* Account nav groups */
.admin-nav-group {
  border-right: 1px solid var(--colour-grey-light);
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
  .admin-nav-group:last-child {
    border: none;
  }

  .admin-nav-group__item {
    float: left;
    font-size: 1.3rem;
    font-weight: var(--font-weight-bold);
    padding: 0.4rem 1rem 1rem;
  }

    .admin-nav-group__link {
      border-bottom: 1px solid transparent;
      cursor: pointer;
      display: block;
      padding-top: 1rem;
      padding-bottom: 0.2rem;
    }
      .admin-nav-group__link:hover {
        border-color: color(var(--colour-blue-link) tint(20%));
        color: var(--colour-blue-link);
      }

    .admin-nav-group__link--active,
    .admin-nav-group__link--active:hover {
      border-color: var(--colour-blue-link);
      color: var(--colour-blue-medium);
    }
