meta name="viewport" content="width=device-width, initial-scale=1.0"
meta name="breakpoint" content="widescreen" media="(min-width: 1400px)"
meta name="breakpoint" content="desktop" media="(min-width: 1024px) and (max-width: 1399px)"
meta name="breakpoint" content="tablet-wide" media="(min-width: 768px) and (max-width: 1023px)"
meta name="breakpoint" content="tablet" media="(min-width: 640px) and (max-width: 767px)"
meta name="breakpoint" content="phone" media="(max-width: 639px)"
meta name="breakpoint" content="retina" media="(-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)"
