/**
 * Reset
 */
@import './reset';

/**
 * General traits
 */
@import './traits';

/**
 * Base
 */

html {
  font-size: 62.5%;
}

body {
  background-color: var(--colorPrimaryBackground);
  font-size: 1.6rem;
}

/**
 * Components
 */
