/**
 * Reset
 */
@import './reset';

/**
 * General traits
 */
@import './traits';

/**
 * Base
 */

html {
  font-size: 62.5%;
}

body {
  background-color: var(--colorPrimaryBackground);
  color: var(--colorPrimaryTextColor);
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

/**
 * Components
 */

 @import "./main-panel";
 @import "./footer";
