/* Horizontal align in tables */

.horizontal-align--left {
  text-align: left;
}

.horizontal-align--center {
  text-align: center;
}

.horizontal-align--right {
  text-align: right;
}

/* Vertical align in tables */

.vertical-align--top {
  vertical-align: top;
}

.vertical-align--middle {
  vertical-align: middle;
}

.vertical-align--bottom {
  vertical-align: bottom;
}
