/**
 * Footer
 */

.footer {
  background-color: var(--colorDarkestGrey);
  color: var(--colorWhite);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
  .footer__inner {
    max-width: 142rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
