/**
 * Footer
 */

.footer {
  background-color: var(--colorDarkestGrey);
  color: var(--colorWhite);
  padding: 5rem;
}
  .footer__inner {
    max-width: 142rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
