/**
 * Masthead
 */

.masthead {
  display: flex;
  padding: 5rem;
}
  .masthead__logo-anchor {
    color: var(--colorRed);
    display: flex;
    font-size: 2rem;
    text-decoration: none;
  }
    .masthead__logo-berg {
      background-image: url('masthead/icelab-logo.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 3.9rem;
      height: 4rem;
    }
